/*  GENERAL STYLES  */
html{
    scroll-behavior: smooth;
}
body {
    background-color: #3d464e;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    padding: 0;
    margin: 0;
    color: inherit;
    font-size: 1.1rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul, li {
    display: inline;
}
div {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 4rem;
    font-weight: 100;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    color:#fcfcfc;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
}
h4 {
    margin: 0;
    padding: 0;
    color: #2f3640;
}
input, textarea {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
table, td, th {
    border: 1px solid #3d3d3d;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: whitesmoke;
    background-color: #4b4b4b;
}
tr {
    width: 100%s;
    display: flex;
    justify-content: space-between;
}
td {
    width: 12.5%;
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
}
del {
    font-size: 0.9rem;
}
.display-none {
    display: none;
}
.display-inline {
    display: inline;
}
.fit-content {
    width: fit-content;
    height: fit-content;
}
.upper-page-content {
    z-index: 5;
    margin-bottom: 25rem;
}

.page-content-container {
    position: relative;
}
.master-container {
    width: 100%;
    background-color: #3d464e;
}
.master-container-down {
    width: 100%;
    background-color: #3d464e;
}
.container {
    margin-right: 13%;
    width: 74%;
    margin-left: 13%;
}
.container-upper {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
.topbtn-icon-container {
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    border: 2px white solid;
}
.section-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.section-title-content {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
}
.section-title-content p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
.section-title-divider {
    width: 10rem;
    height: 0.4rem;
    background-color: #fcfcfc;
}
.icon-24 {
    width: 24px;
    height: 24px;
}
.btn-icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.shopcart-icon-container {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0.25rem;
    border: 2px white solid;
    border-radius: 3px;
    transition: border-color 0.5s, background-color 0.5s;
}
.shopcart-icon-container:hover {
    border-color: #6c5ce7;
    background-color: #6c5ce7;
}
.shopcart-icon-container:hover .shopcart-tooltip-container {
    visibility: visible;
    opacity: 1;
    top: 4rem;
}
 
.shopcart-tooltip-container {
    background-color: whitesmoke;
    color: gray;
    position: fixed;
    z-index: 10;
    top: 5rem;
    right: 0.25rem;
    padding: 1rem;
    min-width: 15rem;
    border: 1px solid #ced4da;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}
.tooltip-pointer-top {
    position: absolute;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    height: .875rem;
    right: 5%;
    width: .875rem;
    top: -15%;
    background-color: whitesmoke;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.tooltip-pointer-bot {
    position: absolute;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    height: .875rem;
    left: auto;
    width: .875rem;
    bottom: -7%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*  TOP INFO BAR    */
.topinfobar-content-container {
    background-color: #3d3d3d;
    color: #c2c2c2;
    padding: 0.45rem 13% 0.45rem 13%;
    display: flex;
    justify-content: space-between;
}
.topinfo-fontsize {
    font-size: 0.8rem !important;
}
.topinfobar-content-container div {
    display: flex;
}
.topinfobar-divider {
    background-color: transparent;
    width: 0;
    height: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    border-left: 2px #c2c2c2 dotted;
}
.topinfo-text {
    color: #c2c2c2;
    font-size: 1.1rem;
    transition: color 0.5s;
}
.topinfo-text:hover {
    color: white;
    font-size: 1.1rem;
}
.topinfo-text-active, .topinfo-text-active:hover {
    color: white;
    font-size: 1.1rem;
}
/*  WELCOME SECTION     */
.welcomediv-content-container {
    background-image: url('./../../assets/img/background-img-1.jpg');
    background-size: cover;
    width: 100%;
    height: 68rem;
    position: relative;
}
.welcomediv-header {
    padding-right: 13%;
    padding-left: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}
.welcomediv-header-logo {
    width: 15rem;
    height: 6rem;
}
.welcomediv-header-nav {
    display: flex;
}
.welcomediv-header-nav a{
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.welcomediv-header-nav ul{
    display: flex;
    align-items: center;
}
.nav-divider {
    background-color: whitesmoke;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-flex;
}
.welcomediv-mssg {
    position: absolute;
    width: 35rem;
    top: 20rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcomediv-mssg h1 {
    font-weight: 100;
}
.welcomediv-mssg h2 {
    font-size: 1.3rem;
}
.welcomediv-btn {
    background-color: whitesmoke;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    font-size: 1.3;
    font-weight: 700;
    border: 2px whitesmoke solid;
    border-radius: 40px;
    padding: 1rem 2rem 1rem 2rem;
    color: black;
    text-transform: uppercase;
}
.welcomediv-btn:hover {
    color: black;
}
/*  GAME FEATURES SECTION   */
.features-content-container {
    padding-top: 4rem;
    background-color: #3d464e;
}
.feature-main-container {
    padding-top: 2rem;
    display: flex;
}
.featurelist {
    width: 30%;
    color: #fcfcfc;
}
.features-center {
    width: 40%;
    height: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-main-img{
    width: 100%;
    height: auto;
}
.features-item {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.features-item-icon {
    width: 64px;
    height: 64px;
    padding: 0.5rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;
    margin: 0.5rem;
}
.features-item-icon:hover .features-item-icon-border {
    opacity: 0;
}
.features-item-icon-border {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 3px solid;
    opacity: 0.8;
    transition: opacity 0.6s;
}
.icontype-1 {
    background-color: #0097e6;
    border-color: #016ca5;
}
.icontype-2 {
    background-color: #c23616;
    border-color: #ac3014;
}
.icontype-3 {
    background-color: #44bd32;
    border-color: #379628;
}
.icontype-4 {
    background-color: #2f3640;
    border-color: #232830;
}
.icontype-5 {
    background-color: #192a56;
    border-color: #142244;
}
.icontype-6 {
    background-color: #e1b12c;
    border-color: #bb9324;
}
.list-right p {
    text-align: left;
    font-size: 1rem;
}
.list-left p {
    text-align: right;
    font-size: 1rem;
}
.features-img {
    width: 48px;
    height: 48px;
    position: relative;
}
/*  ACTION CALL SECTION     */
.actioncall-content-container {
    background-color:#6c5ce7;
}
.actioncall-content  {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
.actioncall-content h1 {
    font-size: 1.5rem;
    font-weight: 600 !important;
}
.actioncall-btn {
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    font-size: 1.3;
    font-weight: 700;
    border: 2px whitesmoke solid;
    border-radius: 40px;
    padding: 1.23rem 2rem 1.23rem 2rem;
    color: whitesmoke;
    text-transform: uppercase;
    transition: background-color 0.4s, color 0.4s;
}
.icon-hovered {
    opacity: 0;
    display: none;
    transition: opacity 0.6s, display 0.4s;
}
.actioncall-btn:hover {
    background-color: whitesmoke;
    color: black;
}
.actioncall-btn:hover .icon-hovered {
    display: inline;
    opacity: 1;
}
.actioncall-btn:hover .icon-active {
    display: none;
}
/*  ELEMENTS SECTION    */
.elements-content-container {
    margin-top: 0.25rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.elements-main-content-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.elements-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.elements-row-final {
    display: flex;
    justify-content: center;
    width: 100%;
}
.element-item {
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element-item h2 {
    font-size: 2rem;
}
.element-pyro {
    background-color: #c23616;
}
.element-anemo {
    background-color: #379891;
}
.element-electro {
    background-color: #743f96;
}
.element-cryo {
    background-color: #5dbcd2;
}
.element-geo {
    background-color: #b49242;
}
.element-hydro {
    background-color: #29518d;
}
.element-dendro {
    background-color: #6ab04c;
}
.element-item-img-container  {
    width: 100%;
    height: 250px;
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;
}
.element-item-img {
    position: absolute;
    top: auto;
    left: auto;
    width: 200px;
    height: 200px;
    transition: width 0.4s, height 0.4s;
}
.element-item-hovered {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.element-item-hovered-circle {
    background-color: rgba(0,0,0,.71);
    width: 75px;
    height: 75px;
    font-size: 0.8rem;
    color: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.75s, height 0.75s, font-size 0.75s;
}
.element-item-hovered-circle:hover {
    color: whitesmoke;
}
.element-item-img-container:hover .element-item-hovered{
    opacity: 1;
}
.element-item-img-container:hover .element-item-img {
    width: 275px;
    height: 275px;
}
.element-item-img-container:hover .element-item-hovered-circle{
    width: 200px;
    height: 200px;
    font-size: 1.75rem;
}
/*  QUOTE SLIDER    */
.quoteslider-content-container {
    background-image: url('./../img/background-img-3.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 5rem;
    position: relative;
}
.quoteslider-opacity-div {
    background-color: #6c5ce7;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.quoteslider-content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow-container {
    position: absolute;
    top: auto;
    opacity: 0.4;
    transition: opacity 0.5s;
}
.arrow-container:hover {
    opacity: 1;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}
.quoteslider-img {
    width: 15rem;
    height: 6rem;
}
.quoteslider-main-content {
   margin-left: 10%;
   margin-right: 10%;
   width: 80%; 
   padding-top: 3rem;
   padding-bottom: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.quotep {
    font-weight: 200;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.quote-author {
    margin-top: 5rem;
    font-weight: 500;
}
.quote-rol {
    font-size: 1.3rem;
    font-weight: 200;
}
/*  DATATABLE SECTION   */
.datatable-content-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.datatable-main-content-container {
    margin-top: 3rem;
    min-height: 5rem;
    padding: 0.5rem;
    width: 100%;
}
.datatable-selector {
    padding: 0.5rem;
    margin-bottom: 3rem;
}
.datatable-selector-list {
    display: flex;
}
.datatable-selector-list li {
    margin-right: 2rem;
    border-bottom: 2px #6c5ce7 solid;
}
.datatable-selector-list-inactive {
    border-bottom: 2px whitesmoke solid !important;
    transition: border-bottom .3s;
}
.datatable-selector-list-inactive:hover {
    border-bottom: 2px  #6c5ce7 solid !important;
}
.datatable-selector-list h2 {
    font-size: 1.2rem;
    font-weight: 400;
}
.table-cell-container {
    height: 7rem;
}
.table-cell-container:hover  .table-cell-bg {
    opacity: 1;
} 
.table-cell-container:hover  .table-cell-tooltip {
    visibility: visible;
    opacity: 1;
} 
.table-cell-tooltip {
    border: 1px solid #ced4da;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 80%;
    top: -88%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.table-cell-empty {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-cell-bg {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    transition: opacity 0.3s;
}
.table-cell-bg-pyro {
    background-color: #c23616;
}
.table-cell-bg-anemo {
    background-color: #379891;
}
.table-cell-bg-electro {
    background-color: #743f96;
}
.table-cell-bg-cryo {
    background-color: #5dbcd2;
}
.table-cell-bg-geo {
    background-color: #b49242;
}
.table-cell-bg-hydro {
    background-color: #29518d;
}
.table-cell-bg-dendro {
    background-color: #6ab04c;
}
.table-cell-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table-cell-content p {
    margin-top: 2rem;
}
.amber-cell {
    background-image: url('./../img/amber-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.venti-cell {
    background-image: url('./../img/venti-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.fischl-cell {
    background-image: url('./../img/fischl-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.diona-cell {
    background-image: url('./../img/diona-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.tartaglia-cell {
    background-image: url('./../img/tartaglia-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.xianling-cell {
    background-image: url('./../img/xianling-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bennet-cell {
    background-image: url('./../img/bennet-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.klee-cell {
    background-image: url('./../img/klee-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.jean-cell {
    background-image: url('./../img/jean-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ningguang-cell {
    background-image: url('./../img/ningguang-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.lisa-cell {
    background-image: url('./../img/lisa-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.kaeya-cell {
    background-image: url('./../img/kaeya-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.xingqiu-cell {
    background-image: url('./../img/xingqiu-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.keqing-cell {
    background-image: url('./../img/keqing-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.noelle-cell {
    background-image: url('./../img/noelle-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/*  BIOGRAPHY SECTION      */
.biography-content-container {
    background-color: #6c5ce7;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.bio-main-content {
    border: 2px whitesmoke solid;
    padding: 2.5rem 4rem 2.5rem 4rem;
    display: flex;
    position: relative;
}
.bio-img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    transition: opacity 0.5s;
}
.bio-img-container:hover {
    opacity: 0.6;
}
.bio-img-container:hover .bio-img{
    width: 200px;
    height: 200px;
}
.bio-img {
    width: 150px;
    height: 150px;
    transition: width 0.5s, height 0.5s;
}
.bio-contactdata-container {
    margin-left: 2rem;
    width: fit-content;
    padding: 1rem;
}
.bio-contactdata-container h3 {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-weight: 300;
    font-size: 1.3rem;
}
.bio-contactdata-container p {
    padding: 0;
    margin-top: 0.5rem;
    color: whitesmoke;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.bio-socialmedia-list li {
    display: inline;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.bio-socialmedia-list li:hover {
    opacity: 1;
}
.bio-socialmedia-list li img {
    width: 36px;
    height: 36px;
}
.bio-desc-container {
    padding: 1rem;
    width: 50rem;
    position: absolute;
    top: auto;
    right: 4rem;
    bottom: 2.5rem;
    color: whitesmoke;
}
/*  MANTRA SECTION  */
.mantra-content-container {
    padding-top: 8rem;
}
.mantra-main-content {
    display: flex;
}
.mantra-img-container {
    width: 55%;
}
.mantra-description {
    width: 45%;
}
.mantra-titles {
    font-weight: 300;
    text-align: right;
}
.mantra-description h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
}
.mantra-description p {
    margin-top: 5rem;
    text-align: right;
    color: whitesmoke;
}
/*  STATISTICS SECTION  */
.statistics-content-container {
    background-color: #6c5ce7;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.statistics-main-content {
    padding-left: 3rem;
    padding-right: 3rem;
}
.statistics-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.statistics-list img {
    width: 48px;
    height: 48px;
}
.statistics-element {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistic-title {
    font-size: 1.25rem;
}
/*  SHOP SECTION    */
.shop-content-container {
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.shop-main-content {
    padding-top: 2rem;
}
.shop-row {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
}
.shop-element-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.shop-element-img-container:hover .shop-element-img-hovered{
    opacity: 0.6;
}
.shop-element-img-container:hover .shop-element-img-hovered-desc {
    opacity: 1;
    top: 35%;
}
.shop-element-img-hovered {
    background-color: #6c5ce7;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
}
.shop-element-img-hovered-desc {
    position: absolute;
    opacity: 0;
    top: 0;
    left: auto;
    z-index: 20;
    transition: opacity 0.5s, top 0.4s;
}
.shop-element-rate-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.active {
    opacity: 1;
}
.inactive {
    opacity: .5;
}
.shop-element-rate {
    width: 16px;
    height: 16px;
}
.shop-element-onsale {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #c23616;
    opacity: 0.8;
    border-radius: 50%;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 0.75rem;
    z-index: 15;
}
.shop-element-outofstock {
    position: absolute;
    padding:4px;
    top: 5px;
    right: 5px;
    background-color: black;
    opacity: 0.8;
    border-radius: 50%;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 0.75rem;
    text-align: center;
    z-index: 15;
}
.shop-element-img {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;
}
.shop-element {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-element-desc h2 {
    font-size: 1.25rem;
    margin: 0;
}
.shop-element-desc p {
    margin-top: 0.5rem;
    text-align: center;
    color: gainsboro;
}
.onsale-price {
    color:red;
}
.shop-footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.infobanner-content-container {
    min-height: 20rem;
    background-image: url('./../img/background-img-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.infobanner-bg-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6c5ce7;
    opacity: 0.8;
}
.infobanner-contact-data{
    width: 32%;
}
.infobanner-main-content{
    position: relative;
    display: flex;
    padding: 5rem 2rem 3rem 2rem;
    justify-content: space-evenly;
}
.infobanner-section-title {
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: none;
    text-align: left;
    letter-spacing: 0;
}
.infobanner-desc {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.infobanner-list-pointer {
    position: absolute;
    top: auto;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: whitesmoke;
    border-radius: 50%;
    transition: background-color 0.5s;
}
.infobanner-section-p {
    color: whitesmoke;
    margin-top: 1.5rem;
    position: relative;
}
.infobanner-section-a {
    color: whitesmoke;
    padding-left: 20px;
    position: relative;
    transition: color 0.5s;
}
.infobanner-section-a:hover {
    color: gray;
}
.infobanner-section-a:hover .infobanner-list-pointer {
    background-color: gray;
}
.infobanner-btn {
    font-size: 0.75rem;
}
.infobanner-list-item {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    position: relative;
}
/*  EVENTS SECTION  */
.events-content-container {
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.events-row {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.events-section-container {
    width: 50%;
}
.event-container {
    display: flex;
    color: whitesmoke;
    margin-bottom: 3rem;
}
.event-date-container {
    width: 7rem;
    height: 7rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #6c5ce7 solid;
    margin-right: 1rem;
}
.event-date-day {
    color: #dcdde1;
    font-size: 2rem;
    margin: 0;
}
.event-date-month {
    color: whitesmoke;
}
.event-title {
    font-size: 2rem;
    color: whitesmoke;
    transition: color 0.4s;
}
.event-title:hover {
    color: #6c5ce7;
}
.event-duration {
    margin-top: 1rem;
    font-size: 0.9rem;
}
.event-icon {
    margin-right: 0.5rem;
}
.event-location {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
}
.events-section-container:hover .event-hovered {
    visibility: visible;
    opacity: 1;
}
.event-hovered {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}
.event-a {
    color: whitesmoke;
}
.event-a:hover {
    color: #6c5ce7;
}
/* LATEST TWEETS    */
.latest-tweets-content-container {
    background-color: #6c5ce7 ;
    padding: 1rem;
}
.latest-tweets-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.twitter-logo {
    display: flex;
    align-items: center;
}
.twitter-logo p {
    color: white;
    font-size: 0.9rem;
    opacity: 0.75;
} 
.twitter-img {
    width: 36px;
    height: 36px;
}
.tweet-main {
    color: white;
}
.twitta {
    margin: 0;
}
.tweet-slider-control {
    display: flex;
    align-items: center;
}
/*  FOOTER      */
.footer-content-container {
    background-color: #343b42;
    min-height: 25rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    padding-top: 7rem;
}
.footer-logo-container {
    position: absolute;
    top: 3rem;
}
.footer-logo {
    width: 20rem;
    height: 8rem;
}
.footer-nav-list a {
    color: whitesmoke;
    font-size: 1.3rem;
    transition: color 0.5s;
}
.footer-nav-list a:hover {
    color:  #6c5ce7;
}
.footer-socialmedia {
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
.footer-socialmedia a {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.footer-socialmedia a:hover {
    opacity: 1;
}
.footer-socialmedia-icon-container {
    background-color: #6c5ce7;   
    border-radius: 50%;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-desc {
    display: flex;
}
.footer-desc a {
    font-size: 1rem;
    color: whitesmoke;
    margin-right: 0.5rem;
}
.footer-desc p {
    font-size: 1rem;
    color: whitesmoke;
    opacity: 0.5;
}